
.header-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;

    .auth{
        display: flex;
        gap: 20px;
    }
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap:20px
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    .nav-links{
        .productContainer{
            display:flex;
            flex-direction: row;
            gap:2px;
            .img{
                width: 10px;
            }
        }
        .companyContainer{
            display:flex;
            flex-direction: row;
            gap:2px;
            .img{
                width: 10px;
            }
        }
        .connectContainer{
            display:flex;
            flex-direction: row;
            gap:2px;
            .img{
                width: 10px;
            }
        }
    }
}
.first{
    background-image: "url('src/assets/bg-pattern-intro-mobile.svg')";
    background-color: lightcoral;
    height:600px;
    border: none;
    border-radius: 0 0 0 100px;
}


.start{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.startUp{
    margin-top: 100px;
    .intro{
        padding: 20px;

       .publishing{
        font-size: 40px;
       } 
       .grow{
        font-size: 20px;
        font-weight: lighter;
       }
    }
}

@media screen and (max-width:640px) {
    .first{
        width: 100%;
        height: 800px;
                ;
        }
    .startUp{
        margin-top: 00px;
    }
    .header-main{
        display: none;
        flex-direction: column;
    }
}